<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movie">
	
	<select id="all" resultType="com.project2.vo.MovieVO">
		SELECT *
		FROM MOVIE
	</select>
	
	<select id="one" parameterType="int" resultType="movieVO">
		SELECT * 
		FROM MOVIE
		WHERE MV_NO = #{mvNo}
	</select>
	
</mapper>